# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Files\study\1st semester\ML\ML20-master\ML20-master1\ML20-master\handins\handin3\handin3_self\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
